.loader-container {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  gap: 20px; 
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

h1 {
  font-size: 24px;
  color: white;
  margin: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
